<div>

<form action="/auth/signup" method="post">

<h1>Sign up</h1>

<label for="username">Username:</label>
<input type="text" name="username">
<br>
<label for="email">email:</label>
<input type="text" name="email">
<br>
<label for="password">password:</label>
<input type="text" name="password">
<br>

<p>{{errorMessage}}</p>


<button>Create</button>

</form>

</div>
<div>
    <h3>Or Log in if you have an account</h3>
    <a href="/auth/login"><button>Log In</button></a>
</div>