<html lang="en">

  <head>
    <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />


  </head>

  <body>
    <nav >
      <a class="linkNav " href="/" >layout</a>
      <a class="linkNav navWhite" href="/home">Home</a>
      <a class="linkNav" href="/auth/signup">sign up</a>
      <a class="linkNav" href="/auth/login">login</a>
      <a class="linkNav" href="/auth/logout">logout</a>
      <a class="linkNav" href="/profile">profile</a>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>

  </body>

</html>