<div>
  <h2>Search part</h2>



  {{#each responseToSearch}}

  <div class="searchHomeContainer">

</div>

    <a href="/profile/info-user/{{this._id}}">
      <img src="{{this.image}}" alt="image search" width="200px" /></a>

  {{/each}}

  {{#each responsUserToSearch}}

  <div class="searchHomeContainer">

</div>

    <a href="/profile/{{this._id}}">
      <img src="{{this.profilePicture}}" alt="image search user" width="200px" /></a>

  {{/each}}


  
</div>