<div class="allSearchContainer">

  <div class="containerLogoHomePage">

  </div>



<div class="searchHomeContainer">

<form action="search" method="post">
    <label for="search"></label>
    <input type="text" name="search" placeholder="Search by brand..">
</form>

<form action="search" method="post">
    <label for="searchFriend"></label>
    <input type="text" id="searchFriend" name="searchFriend" placeholder="Search username ...">
</form>

</div>







</div>


  <div class="allImgHomeContainer">

    <div class="containerAllVignetteHome">

      {{#each responseToSearch}}

        <div class="wrapperVignetteHome">

          <a href="/profile/info-user/{{this._id}}">
            <img
              src="{{this.image}}"
              alt="image search"
              class="imagePostHome"
            /></a>

        </div>

      {{/each}}

      {{#each responsUserToSearch}}

        <div class="wrapperVignetteHome">

          <a href="/profile/{{this._id}}">
            <img
              src="{{this.profilePicture}}"
              alt="image search user"
              class="imagePostHome"
            /></a>
        </div>

      {{/each}}

    </div>

  </div>

</div>