<div class="allSearchContainer">

  <div class="containerLogoHomePage">

  </div>

  <div class="allImgHomeContainer">

    <div class="containerAllVignetteHome">

      {{#each responseToSearch}}

        <div class="wrapperVignetteHome">

          <a href="/profile/info-user/{{this._id}}">
            <img
              src="{{this.image}}"
              alt="image search"
              class="imagePostHome"
            /></a>

        </div>

      {{/each}}

      {{#each responsUserToSearch}}

        <div class="wrapperVignetteHome">

          <a href="/profile/{{this._id}}">
            <img
              src="{{this.profilePicture}}"
              alt="image search user"
              class="imagePostHome"
            /></a>
        </div>

      {{/each}}

    </div>

  </div>

</div>